# vi: ft=systemd
[Unit]
Description=Prometheus Alertmanager
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User={{ prometheus_user }}
Restart=on-failure
ExecReload=/bin/kill -HUP $MAINPID

ExecStart={{ prometheus_alertmanager_daemon_dir }}/alertmanager \
         -config.file={{ prometheus_config_path }}/alertmanager.yml \
         -storage.path={{ prometheus_alertmanager_db_path }} \
{% if prometheus_alertmanager_opts is defined %}
		{{ prometheus_alertmanager_opts }}"
{% endif %}
		 $DAEMON_OPTS

[Install]
WantedBy=multi-user.target
